<div *ngIf="user">
  <div class="row">
    <div class="col-sm-3">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link"
            [ngClass]="{ 'active': activeTab === eActiveTab.Profile }"
            (click)="activeTab=eActiveTab.Profile">
              <i class="fas fa-user"></i>&nbsp;Profile
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            [ngClass]="{ 'active': activeTab === eActiveTab.Address }"
            (click)="activeTab=eActiveTab.Address"
          >
            <i class="fas fa-address-book"></i>&nbsp;Addresses
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            [ngClass]="{ 'active': activeTab === eActiveTab.CreditCard }"
            (click)="activeTab=eActiveTab.CreditCard"
          >
            <i class="fas fa-credit-card"></i>&nbsp;Credit Cards
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            [ngClass]="{ 'active': activeTab === eActiveTab.Security }"
            (click)="activeTab=eActiveTab.Security"
          >
            <i class="fas fa-lock"></i>&nbsp;Security
          </a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9" [ngSwitch]="activeTab">
      <div *ngSwitchCase="eActiveTab.Profile">
        <app-profile-profile [user]="user"></app-profile-profile>
      </div>
      <div *ngSwitchCase="eActiveTab.Address">
        <app-profile-address [user]="user"></app-profile-address>
      </div>
      <div *ngSwitchCase="eActiveTab.Security">
        <app-profile-security [user]="user"></app-profile-security>
      </div>
      <div *ngSwitchCase="eActiveTab.CreditCard">
        <app-profile-credit-card [user]="user"></app-profile-credit-card>
      </div>
    </div>
  </div>
</div>
