<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
  <a class="navbar-brand" [routerLink]="['/']">GeekText</a>
  <button
    class="navbar-toggler"
    type="button"
    (click)="toggleCollapsed()"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse"
    id="navbarSupportedContent"
    [ngbCollapse]="isCollapsed()"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" id="storefront" [routerLink]="['/']">Store</a>
      </li>
    </ul>
    <div *ngIf="isLoggedIn; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" id="logout" [routerLink]="['/logout']">Log Out</a>
        </li>
      </ul>
    </ng-template>
    <ng-template #elseBlock>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" id="login" [routerLink]="['/login']">Login</a>
        </li>
      </ul>
    </ng-template>
  </div>
</nav>
