<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link"
          [ngClass]="{'active': tabActive === 0 }"
          (click)="tabActive = 0"
        >
          Login
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
          [ngClass]="{'active': tabActive === 1}"
          (click)="tabActive = 1"
        >
          Register
        </a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div *ngIf="tabActive === 0; then loginBlock else registerBlock"></div>
    <ng-template #loginBlock>
      <form class="form-login" [formGroup]="loginForm" (ngSubmit)="submitLogin()" *ngIf="loginForm">
        <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>
        <div class="form-group row">
          <label for="email" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input
              formControlName="email"
              type="email"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && loginForm.controls.email.errors }"
              id="email"
              placeholder="Email Address"
              required
              autofocus
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
              <input
              formControlName="password"
              type="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && loginForm.controls.password.errors }"
              id="password"
              placeholder="Password"
              required
              autofocus
            />
          </div>
        </div>
        <br />
        <div class="btn-group btn-group-lg btn-group-expanded" role="group">
          <button id="cancel" type="button" class="btn btn-danger" (click)="back()">Cancel</button>
          <button id="submit" type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </ng-template>
    <ng-template #registerBlock>
      <form class="form-register" [formGroup]="registerForm" (ngSubmit)="submitRegister()" *ngIf="registerForm">
        <h1 class="h3 mb-3 font-weight-normal text-center">Please register as a new user!</h1>
        <div class="form-group row">
          <label for="email" class="col-sm-2 col-form-label">Email Address</label>
          <div class="col-sm-10">
            <input
              formControlName="email"
              type="email"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && registerForm.controls.email.errors }"
              id="email"
              required
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input
              formControlName="password"
              type="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && registerForm.controls.password.errors }"
              id="password"
              required
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="confirmPassword" class="col-sm-2 col-form-label">Confirm Password</label>
          <div class="col-sm-10">
            <input
              formControlName="confirmPassword"
              type="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && registerForm.controls.confirmPassword.errors }"
              id="confirmPassword"
              required
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
          <div class="col-sm-10">
            <input
              formControlName="firstName"
              type="text"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && registerForm.controls.firstName.errors }"
              id="firstName"
              required
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="middleName" class="col-sm-2 col-form-label">Middle Name</label>
          <div class="col-sm-10">
            <input
              formControlName="middleName"
              type="text"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && registerForm.controls.middleName.errors }"
              id="middleName"
            />
            <small id="middleNameHelp" class="form-text text-muted">Optional</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
          <div class="col-sm-10">
            <input
              formControlName="lastName"
              type="text"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && registerForm.controls.lastName.errors }"
              id="lastName"
              required
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="nickName" class="col-sm-2 col-form-label">Nickname</label>
          <div class="col-sm-10">
            <input
              formControlName="nickName"
              type="text"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && registerForm.controls.nickName.errors }"
              id="nickName"
              required
            />
          </div>
        </div>
        <div class="btn-group btn-group-lg btn-group-expanded" role="group">
          <button id="cancel" type="button" class="btn btn-danger" (click)="back()">Cancel</button>
          <button id="submit" type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </ng-template>
  </div>
</div>
