<div class="text-center">
  <form class="form-login">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <input
      type="email"
      class="form-control"
      id="email"
      placeholder="Email Address"
      required
      autofocus
    />
    <input
      type="password"
      class="form-control"
      id="password"
      placeholder="Password"
      required
      autofocus
    />
    <br />
    <div class="btn-group btn-group-lg btn-group-expanded" role="group">
      <button type="button" class="btn btn-danger" (click)="back()">Cancel</button>
      <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
    </div>
  </form>
</div>
