@import '~bootstrap/scss/bootstrap.scss';

$fa-font-path: "/assets/webfonts";

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
