<div class="row" *ngIf="books">
  <div class="col-sm-3" *ngFor="let book of (books | async)">
    <div class="card" (click)="navigate(book.id)">
      <div class="card-header">{{ book.title }}</div>
      <div *ngIf="book.coverDataUri; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>
        <img class="card-img-top img-thumbnail" [src]="book.coverDataUri" [alt]="book.title" width="100px" height="200px" />
      </ng-template>
      <ng-template #elseBlock>
        <img class="card-img-top img-thumbnail" [src]="book.coverUrl" [alt]="book.title" width="100px" height="200px" />
      </ng-template>
      <div class="card-body">
        <p *ngIf="book.genres">Genres: {{
          book.genres.join(', ')
        }}</p>
        <p>Price: {{ book.price | currency }}</p>
        <p><app-star-rating [rating]="book.averageRating || 0" [max]="5" [readOnly]="true"></app-star-rating></p>
      </div>
    </div>
  </div>
</div>
