<div *ngIf="addresses">
  <h3>Saved Addresses</h3>
  <div class="row">
    <div class="col-sm-5" *ngFor="let address of addresses; index as idx">
      <div class="card" >
        <div class="card-header">
          Address #{{ idx + 1 }}
        </div>
        <div class="card-body">
          {{ address.street }}
          <br />
          <span *ngIf="address.apartmentOrUnit">{{ address.apartmentOrUnit }}</span>
          <br />
          {{ address.city }}, {{ address.state }} {{ address.zipcode }}
          <br />
          <button class="btn btn-sm btn-danger" (click)="deleteAddress(address.id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
<form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
  <legend>Add a new shipping address.</legend>
  <div class="form-group">
    <label for="street" class="col-sm-2 col-form-label">Street</label>
    <div class="form-sm-10">
      <input class="form-control" id="street" formControlName="street"
        type="text" minlength="1" required />
    </div>
  </div>
  <div class="form-group">
    <label for="apartmentOrUnit" class="col-sm-4 col-form-label">Apartment or Unit <small>(Optional)</small></label>
    <div class="form-sm-8">
      <input class="form-control" id="apartmentOrUnit" formControlName="apartmentOrUnit"
        type="text" />
    </div>
  </div>
  <div class="form-group">
    <label for="city" class="col-sm-2 col-form-label">City</label>
    <div class="form-sm-10">
      <input class="form-control" id="city" formControlName="city"
        type="text" minlength="1" required />
    </div>
  </div>
  <div class="form-group">
    <label for="country" class="col-sm-2 col-form-label">Country</label>
    <div class="form-sm-10">
      <select id="country" class="form-control">
        <option selected>United States</option>
        <option>Canada</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="state" class="col-sm-2 col-form-label">State</label>
    <div class="form-sm-10">
      <input class="form-control" id="state" formControlName="state"
        type="text" minlength="2" maxlength="2" required />
    </div>
  </div>
  <div class="form-group">
    <label for="zipcode" class="col-sm-3 col-form-label">Zip Code</label>
    <div class="form-sm-9">
      <input class="form-control" id="zipcode" formControlName="zipcode"
        type="text" minlength="5" required
      >
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" [disabled]="!addressForm.valid">Submit</button>
  </div>
</form>
